body {
    background: #f6f7fb;
}

.anchor {
	position: relative;
	top: -95px;
	visibility:hidden;
	margin:0px;
}


.nav-pills .nav-link{
    color: white;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #212121;
    background-color: #ffffff;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #2e55a5;

}
.nav-tabs .nav-link {
    color: #607d8b;
}

.nav-tabs .nav-item:hover {
    cursor: pointer;
}


#sidebar .nav-link:hover {
    font-weight: 600;
}
#sidebar .nav-link {
    padding-left: 0 !important;
    padding-top: 0.4rem !important;
    padding-bottom: 0.4rem !important;
}


.slice{
    cursor:pointer;
}


#sidebar {
  text-align: center;
  padding: 1rem 1rem;
  /* background-image: linear-gradient(to bottom right, #2E55A5, #03A9F4); */
  background-color: #34495e !important
}


#sidebar h3 {
  text-align: left;
  margin-bottom: 0;
  font-weight: normal;
  color:white;
}

/* Hide the blurb on a small screen */
#blurb {
  display: none;
}

#sidebar-toggle {
  display: none;
}
/*
#collapse *:first-child {
  margin-top: 1rem;
}
*/
/* add the three horizontal bars icon for the toggle */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


#page-content {
  /*padding: 2rem 1rem;*/
}

@media (min-width: 48em) {
  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16rem;
    padding-top: 72px;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
    transition: margin 0.3s ease-in-out, padding 0.3s ease-in-out;
  }

  #sidebar-toggle {
    display: inline-block;
    /* position: relative; */
    top: 0;
    transition: top 0.3s ease-in-out;
  }

  /* add negative margin to sidebar to achieve the collapse */
  #sidebar.collapsed {
    margin-left: -11.5rem;
    padding-right: 0.5rem;
  }

  /* move the sidebar toggle up to the top left corner */
  #sidebar.collapsed #sidebar-toggle {
    top: -2rem;
  }

  /* also adjust margin of page content */
  #sidebar.collapsed ~ #page-content {
    margin-left: 4.5rem;
  }

  /* move all contents of navbar other than header (containing toggle) further
     off-screen */
  #sidebar.collapsed > *:not(:first-child) {
    margin-left: -6rem;
    margin-right: 6rem;
  }

  /* reveal the blurb on a large screen */
  #blurb {
    display: block;
  }

  /* Hide the toggle on a large screen */
  #navbar-toggle {
    display: none;
  }

  #collapse {
    display: block;
  }

   .top-bar {
    margin-left: 15rem;
    margin-right: 0rem;
    transition: margin-left 0.3s ease-in-out;
  }

  /* set margins of the main content so that it doesn't overlap the sidebar */
  #page-content {
    margin-left: 16rem;
    margin-right: 0rem;
    padding-top: 1rem;
    transition: margin-left 0.3s ease-in-out;
  }
}
