{% extends "base.html" %}
{% from "macro_render_field.html" import render_field %}

{% block content %}
<div class="loginpage">
    <div class="card shadow border-0">
        <div class="card-body  p-5">
            <div style="text-align:center;">
                <img src="/assets/logo.png" alt="Logo" class="auth-logo" width=150 height=50>
                <br>
                <br>
                <h5>Add New Client</h5>
            </div>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                {{form.csrf_token}}
                <p>
                  {{ render_field(form.name) }}
                </p>
                <p>
                  {{ render_field(form.domain) }}
                </p>
                <p>
                  {{ form.navigation.label }}<br>
                  {{ form.navigation()}}
                </p>
                <p>{{ form.submit() }}</p>
                {% if error %}
                  <p class="error"><strong>Error:</strong> {{ error }}
                {% endif %}
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                  <ul>
                      {% for message in messages %}
                        <li>{{ message }}</li>
                      {% endfor %}
                  </ul>
                {% endif %}
                {% endwith %}
            </form>
        </div>
    </div>
</div>

{% endblock %}
