{% extends "base.html" %}
<!-- {% from "macro_render_field.html" import render_field %} -->
{% block content %}

<div class="loginpage">
    <div class="card shadow border-0">
        <div class="card-body p-5">
            <div style="text-align:center;">
                <img src="/assets/logo.png" alt="Logo" class="auth-logo" width=150 height=50>
                <br>
                <br>
                <h5>Adminstrative tools</h5>
            </div>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                {{form.csrf_token}}
                <p>
                    {{ form.client.label }}: {{ form.client }}
                </p>
                <p>{{ form.submit() }}</p>
                {% if error %}
                <p class="error"><strong>Error:</strong> {{ error }}
                    {% endif %}
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
