{% extends "base.html" %}
{% from "macro_render_field.html" import render_field %}
{% block content %}

<div class="loginpage">
    <div class="card shadow border-0">
        <div class="card-body p-5">
            <div style="text-align:center;">
                <img src="/assets/logo.png" alt="Logo" class="auth-logo" width=150 height=50>
                <br>
                <br>
                <h5>User Login</h5>
            </div>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                {{form.csrf_token}}
                <p>
                    {{ render_field(form.username) }}
                </p>
                <p>
                    {{ render_field(form.password) }}
                </p>
                <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                <p>{{ form.submit() }}</p>
                {% if error %}
                <p class="error"><strong>Error:</strong> {{ error }}
                    {% endif %}
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </form>
            <!-- <p> Not yet registered? <br> <a href="{{ url_for('web.register') }}">Click to Create an Account!</a></p> -->
            <p> Forgot Password? <br> <a href="{{ url_for('web.request_password_reset') }}">Click to Reset your password!</a></p>
        </div>
    </div>
</div>
{% endblock %}
