{% macro render_field(field) %}
{{ field.label }}<br>
{{ field(**kwargs)|safe }}
<ul>
  {% for error in field.errors %}
    <li style="color:red;">{{ error }} </li>
  {% endfor %}
</ul>
{% endmacro %}
