<p>A password reset request for account was initiated for this email. To continue with the process please follow this link:</p>
<p><a href="{{ confirm_url }}">Reset Password</a></p>
<br>
<p>Owner</p>
