{% extends "base.html" %}
{% from "macro_render_field.html" import render_field %}

{% block content %}

<div class="loginpage">
    <div class="card shadow border-0">
        <div class="card-body p-5">
            <div style="text-align:center;">
                <img src="/assets/logo.png" alt="Logo" class="auth-logo" width=150 height=50>
                <br>
                <br>
                <h5>Reset Password</h5>
            </div>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                {{form.csrf_token}}
                <p>
                  {{ render_field(form.email) }}
                </p>
                <p>{{ form.submit() }}</p>
                {% if error %}
                <p class="error"><strong>Error:</strong> {{ error }}
                    {% endif %}
            </form>
            <p> Already have an account? <br><a href="{{ url_for('web.login') }}">Click here to login!</a></p>
        </div>
    </div>
</div>

{% endblock %}
