{% extends "base.html" %}
{% from "macro_render_field.html" import render_field %}

{% block content %}

<div class="loginpage">
    <div class="card shadow border-0">
        <div class="card-body p-5">
            <div style="text-align:center;">
                <img src="/assets/logo.png" alt="Logo" class="auth-logo" width=150 height=50>
                <br>
                <br>
                <h5>Reset Password</h5>
            </div>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                {{form.csrf_token}}
                <p>
                  {{ render_field(form.password) }}
                </p>
                <p>
                  {{render_field(form.confirm)}}
                </p>
                <p>{{ form.submit() }}</p>
            </form>
  </div>
</div>
</div>
{% endblock %}
